<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.accountmanager.system.mapper.OperateLogMapper">
	<!-- 保存操作日志 -->
	<insert id="saveOperateLog" parameterType="OperateLog">
		 INSERT INTO `T_SYS_OPERATELOG` (userId,username,operatorBroswer,operatorContent,operatorIP,operateModel,createTime) 
		 VALUES(#{userId},#{username},#{operatorBroswer},#{operatorContent},#{operatorIP},#{operateModel},#{createTime})
	</insert>

</mapper>