<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.accountmanager.system.mapper.UserRoleMapper">
	<!-- 保存用户角色关系 -->
	<insert id="saveUserRole" >
		INSERT INTO T_SYS_USERROLE (userId,roleId,createTime,logicDel) VALUES
		<foreach collection="roleIds" item="roleId" separator=",">
			(#{userId},#{roleId},NOW(),'N')
		</foreach>
	</insert>
	
	<!-- 删除角色功能关系 -->
	<delete id="deleteUserRole" parameterType="string">
		DELETE FROM `T_SYS_USERROLE` WHERE T_SYS_USERROLE.`userId`=#{userId}
	</delete>
</mapper>