<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sly.accountmanager.account.mapper.BillTypeMapper">
	<!-- 查询顶层账单类型列表数量 -->
	<select id="findTopBillTypeCount" parameterType="map" resultType="int">
		SELECT 
			COUNT(1) 
		FROM `T_ACCOUNT_BILLTYPE` TABT 
		<where>
			TABT.`parentTypeId` IS NULL
			AND TABT.`userId` = #{billType.userId}
			AND TABT.`logicDel` = 'N'
			<if test="billType.billTypeName != null and billType.billTypeName != ''">
				AND TABT.`billTypeName` LIKE CONCAT('%',#{billType.billTypeName},'%')
			</if>
		</where>
	</select>
	
	<!-- 查询顶层账单类型分页列表 -->
	<select id="findTopBillTypeList" parameterType="map" resultType="com.sly.accountmanager.account.model.BillType">
		SELECT 
			* 
		FROM `T_ACCOUNT_BILLTYPE` TABT 
		<where>
			TABT.`parentTypeId` IS NULL
			AND TABT.`userId` = #{billType.userId}
			AND TABT.`logicDel` = 'N'
			<if test="billType.billTypeName != null and billType.billTypeName != ''">
				AND TABT.`billTypeName` LIKE CONCAT('%',#{billType.billTypeName},'%')
			</if>
		</where>
		ORDER BY createTime DESC 
		LIMIT #{page.startNum},#{page.pageSize}
	</select>
	
	<!-- 保存账单类型 -->
	<insert id="saveBillType" parameterType="com.sly.accountmanager.account.model.BillType">
		INSERT INTO `T_ACCOUNT_BILLTYPE`(billTypeId,billTypeName,parentTypeId,createTime,userId,userName,logicDel) 
		VALUES(#{billTypeId},#{billTypeName},#{parentTypeId},#{createTime},#{userId},#{userName},#{logicDel})
	</insert>
	
	<!-- _查询所以顶层账单类型列表 -->
	<select id="findAllTopBillType" parameterType="string" resultType="com.sly.accountmanager.account.model.BillType">
		SELECT 
			* 
		FROM `T_ACCOUNT_BILLTYPE` TABT 
		<where>
			TABT.`parentTypeId` IS NULL
			AND TABT.`userId` = #{userId}
			AND TABT.`logicDel` = 'N'
		</where>
		ORDER BY createTime DESC
	</select>
	
	<!-- _查询所有账单(不区分用户) -->
	<select id="loadAllBillType" resultType="com.sly.accountmanager.account.model.BillType">
		SELECT 
			* 
		FROM `T_ACCOUNT_BILLTYPE` TABT 
		<where>
			TABT.`parentTypeId` IS NULL
			AND TABT.`logicDel` = 'N'
		</where>
	</select>
	
	<!-- 修改账单类型 -->
	<update id="updateBillType" parameterType="com.sly.accountmanager.account.model.BillType">
		UPDATE `T_ACCOUNT_BILLTYPE` SET billTypeName=#{billTypeName} WHERE `T_ACCOUNT_BILLTYPE`.`billTypeId`=#{billTypeId}
	</update>
	
	<!-- 根据账单类型ID查询账单 -->
	<select id="findBillTypeById" parameterType="string" resultType="com.sly.accountmanager.account.model.BillType">
		SELECT * FROM `T_ACCOUNT_BILLTYPE` TABT WHERE TABT.`billTypeId`=#{billTypeId}
	</select>
	
	<!-- 根据ID删除账单类型 -->
	<delete id="deleteBillType" parameterType="string">
		DELETE FROM `T_ACCOUNT_BILLTYPE` WHERE `T_ACCOUNT_BILLTYPE`.`billTypeId`=#{billTypeId}
	</delete>
</mapper>